/* Escribe tu css aqui */


.box {
	
	height:100px; 
	width: 200px;
	margin-bottom:10px;
	padding:10px;
	display: inline-block;
	margin-right:10px;

}

.yellow {
	background-color:#F8E516;
}

.red {
	background-color:#ED1414;
}